*{
    margin:0;
    padding: 0;
}

h1{
    margin:auto 0;
}

.header{
    display:flex;
    justify-content: space-between;
    background-color: bisque;
    min-height:10vh;
    padding:0 3vh
}

#category,#tag{
    display: flex;
    text-align: center;
    justify-content: center;
    margin:3vh 0;
}

.name{
    margin:1vh;
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
    background-color: burlywood;
}

.item_des {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    text-align: center;
}
img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#end{
    display:flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    background-color: aliceblue;
}

#words{
    margin:0.5em;
    font-size: 4vh;
}

.fa-heart{
    color: red;
    font-size: 4vh;
}