body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,#line1,#line2{
    text-align: center;
    font-size: 7vh;
}

#box{
    background-color: whitesmoke;
    border:2px solid black;
    height:64vh;
    width:90vh;
    margin:18vh 5vh;
}

#again{
    height:10vh;
    width:30vh;
    margin:10vh 30vh;
}

button:hover {
    background-color: #45a08e;
}